torch==2.3.1 
torchaudio==2.3.1 
# pip install torch==2.3.1 torchaudio==2.3.1 --index-url https://download.pytorch.org/whl/cu118
whisperx @ git+https://github.com/m-bain/whisperX.git
transformers
google-generativeai
# spacy
Flask
pydub
python-dotenv
werkzeug
requests 
noisereduce
python-docx
ffmpeg-python
accelerate
openai-whisper